<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="springBean" class="com.jumbalakka.commons.spring.SpringContextUtils" />
	
	<bean id="httpInvokerProxy"
			class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl"
			value="http://localhost:8080/webapp1/remoting/MyPOJOService1" />
		<property name="serviceInterface" value="com.test.service.MyService" />
	</bean>
	
	<bean id="remoteCaller" class="com.test.remote.caller.RemoteCall" >
		<property name="service" ref="httpInvokerProxy" />
	</bean>
</beans>